.Becomeinstructorpage{
    background-color: #FFFFFF;
    padding-top: 7%;
}

.Becomeinstructorpage h1{
    margin-left:4%;
}

.InstructorGuide{
    width:100%;
}

.becomeInstructor-form{
    margin-left: 4%;
    width:40%;
}

.Instructorformfields{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.input{
    margin: 0% 0.1%;
}

.guidecard{
    border: solid;
    border-color:#FFFFFF;
    background-color:#FFFFFF;
    box-shadow: 0px 6.599999904632568px 15px 0px #00000040;
    margin: 3.8% 3.5%;
    padding:3.5% 5.8%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.guideimage{
    height:90%;
    width:90%;
}

.guidecontent p{
   font-family: Inter;
   font-size: 24px;
   line-height: 32px;;
   font-style: normal;
   font-weight: 200;
   text-align: left;
}

.guidecontent{
    margin-left:10%;
}

.guidecontent h1{
    margin-bottom: 5%;
}

#Instructorproceed{
    width:50%;
    background: #4741A6;
    color:white;
    border: none;
    text-align: center;
    padding:1.2%;
    font-size: 120%;
    text-decoration: none;
    border-radius: 8px;
    margin:3.5% 20%;
}