/* Instructor Dashboard */
.InstructorDashboard{
    background-color: white;
}

.InstructorContentblock{
  margin-top: 4%;
  padding:7% 5% 5%;
}

.InstructorContent{
    border: solid;
    border-color:#FFFFFF;
    background-color: #FFFFFF;
    box-shadow: 0px 6.599999904632568px 15px 0px #00000040;
    margin:2% 1% 6%;
    width:99%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .ProfileAvatar{
      margin-left: 5%;
  }
  
  .InstructorInfo{
    margin-left: 12.5%;
    margin-top: 3.5%;
  }

  .InstructorInfo h1{
    font-family: Poppins,sans-serif;
    font-style: Medium;
    font-weight: 540;
    font-size: 53.76px;
    line-height: 81px;
    line-height: 100%;
    text-align: Left;
    Vertical-align: Center;
  }

  .InstructorInfo p{
    font-family: Poppins,sans-serif;
    font-size: 24px;
    line-height: 36px;
    font-weight: 550;
    text-align: Left;
    Vertical-align: Center;
   }

  .InstructorInfo h2{
    font-family: Poppins,sans-serif;
    font-size: 35.8px;
    line-height: 54px;
    font-weight: 610;
    text-align: Left;
    Vertical-align: Center;
   }


  /* Create Course */
  .CreateCourseSection{
    border: solid;
    border-width: thin;
    border-color:black;
    background-color: #FFFFFF;
    margin:10% 1% 7%;
    width:99%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding:4% 3%;
  }

  .CreateCourse{
    width:28%;
    background: #4741A6;
    color:white;
    border: none;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 400;
    font-size: 20px;
    padding: 1.2% 4%;
    margin-left: 32%;
  }

  .CourseCreationHeading{
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 29px;
    text-align: left;
    margin-left: 7%;
    margin-top:1.5%;
}

/* My Courses */
.CoursesHeading{
  background-color: #3F3D56;
  color:white;
  font-family: Roboto;
  font-style: Bold;
  font-size: 64px;
  line-height: 75px;
  padding:2% 5%;
}

.coursecard{
  border: solid;
  border-color:#FFFFFF;
  box-shadow: 0px 6.599999904632568px 15px 0px #00000040;
  margin: 3.8% 3.5%;
  padding:4.5% 1.8%;
}

.InstructorCourses{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}