.navbar-custom {
    background: #4741A6;
}

.text {
    color: #FFFFFF;
    font-family: Inter
}

.navbar {
    width:100%;
    position:fixed;
    z-index: 1;
}

.navbar-brand {
   position:absolute;
   left:7.2%
}

.list {
  position:relative;
  left:70%;
}

input[type=search] {
    position:relative;
    width: 200%;
    font-size: 16px;
    background-color: white;
    /* background-image:url('../Images/search.svg') ; */
    background-position: 3.5%; 
    background-repeat: no-repeat;
    padding: 3.5% 10%;
  }

 .cart{
    position:relative;
    left:42%;
}

.Instructor{
    position:relative;
    left:48%;
}
.login{
    position:relative;
    left:55%;
}

.log-signbuttons{
    color:#FFFFFF;
    background-color:#4741A6;
    border: 1px solid #FFFF;
    border-radius: 8px;
    text-align: center;
    margin-top: 12%;
    padding:10%, 20%;
    }


.signup{
    position:relative;
    left:62%;
}

/* Responsive */
@media only screen and (max-width: 453px) {
    .navbar-custom{
       display:none;
    }
  }

@media only screen and (max-width: 991px) {
    
         
  }
  

