/* Starting Template */
.Coursebg{
    background-color: white;
}

.CourseIntro{
    background-image: url("../Images/coursebg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    padding:12% 12%;
    margin:0% 4%;
}

.CourseIntroLines{
    color: white;
    text-align:center;
}

.CourseIntroLines h1{
   padding:4%;
   Font-family: Inter;
   Font-style: Regular;
   letter-spacing: 10%;
}

.CourseIntroLines p{
    padding-bottom:2%;
 }

 .CourseButton {
    width:34%;
    border: none;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    padding: 2% 5.5%;
    margin-left:2%
} 

.syllabus{
    color: #4741A6;
    background:white;
}

.enroll{
    background: #4741A6;
    color:white;
}

/* Info Grid */

.courseInfo{
  margin: 2% 10%;
}

.Info{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.infocol{
  border-left: 1px solid black;
  margin:0% 6%;
  padding: 0% 1%;
}

.Infoheading{
  color: #5B5656;
  font-size: 75%;
  font-weight: bold;
  text-align: left;
  margin-bottom: 0%;
}

.infocol p{
  font-size: 75%;
  color: #5B5656;
  text-align: left;
  margin:0%;
}

.infodata{
  font-size: 65%;
  color: #5B5656;
  text-align: left;
  margin:0%;
}

/* What you will learn */
.WhatLearn{
  margin-left: 4%;
  color: #2F2E41;
  font-family: Inter;
  font-style: light;
  margin-top: 5%;
}

.CourseContent{
  border: solid;
  border-color:#FFFFFF;
  background-color: #FFFFFF;
  box-shadow: 0px 6.599999904632568px 15px 0px #00000040;
  margin:2% 4%;
  width:92%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.CourseBrief{
  width:54%;
  margin:5% 7%;
  border-bottom: 1px solid #E6E6E6;
  margin-bottom:0%;
}

.Imagecourse{
  margin-top:5%;
}

.CourseBrief h1{
  color: #5E5B7E;
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  text-align: left;
  margin-bottom: 6%;
}

.aboutCourse{
  text-align: left;
  color: #5B5656;
  font-size: 15px;
  line-height: 18px;
  padding-bottom: 1%;
}

#hideDetails{
  margin-left:7%;
  text-align:left;
  width:20%;
  color: #3858FF;
  font-size: 75%;
  font-weight: bold;
}

.Instructor{
  color: #5E5B7E;
  font-size: 18px;
  padding-bottom: 1%;
}


/* BUY later */
.buylaterbuttons{
  width:24%;
  border: none;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  padding: 1.2% 5%;
  margin:2%;
  background: #4741A6;
  color:white;
}

#buylater{
  margin-left:2%;
}

/* ProgramsOverview */
.ProgramsOverview{
    background-color: #F3F9FF;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 5%;
    padding-top: 4%;
  }

  .Programfeatures{
    width:40%;
    margin:5% 0% 5% 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
   
 .featureImage{
    width:50%;
  }

  .feature{
    width:50%;
  }

  .title{
    padding-left: 10%;
  }

  .paracontent{
    text-align: left;
  }

  .programs{
    width:100%;
    text-align: center;
    padding:2% 0%;
  }

  .programOverviewimage{
    height: 80%;
    width: 80%;
  }




/* Review Section */

.Reviews{
   background-color: #FFFFFF;
   margin-top: 10%;
}

.ReviewContent{
  background-color: #F3F9FF;
}

.reviewtitle{
  font-family: Inter;
  font-size: 36px;
  padding-top: 3%;
  font-style: normal;
  font-weight: 300;
  line-height: 44px;
  letter-spacing: 0em;
  margin-left: 7%;
}

.Reviewsblock{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 5%;
}


.Reviewcard{
    border: solid;
    border-color:#FFFFFF;
    background-color: #FFFFFF;
    box-shadow: 0px 6.599999904632568px 15px 0px #00000040;
    margin-top: 3%;
    margin-left: 7%;
    width:25%;
  }

  .Avatarimage{
    height:30%;
    width:30%;
  }

.reviewbutton{
  border-radius: 8.83px;
  background: #474480;
  width:20%;
}


  
