.Coursebg{
    background-color: white;
}

.CourseIntro{
    background-image: url("../Images/coursebg.webp");
    padding:12% 12%;
    margin:0% 5%;
}

.CourseIntroLines{
    color: white;
    text-align:center;
}

.CourseIntroLines h1{
   padding:4%;
   Font-family: Inter;
   Font-style: Regular;
   letter-spacing: 10%;
}

.CourseIntroLines p{
    padding-bottom:2%;
 }

 .EnrollNow {
    width:50%;
    background: #4741A6;
    color:white;
    border: none;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    padding: 2% 8%;
} 

