h2 { font-family: Ubuntu; font-size: 52px; font-style: normal; 
    font-variant: normal; font-weight: 700; line-height: 26.4px;}

body {
        background-image: url("../Images/authbackground.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        width:100%;
        height:auto;
}

html{
    height:100%;
}

/* images */
.logimage{
    height:50%;
    width:62%;
    position:absolute;
    left:-8%;
    top:32%; 
}

.signimage{
    height:400px;
    width:400px;
    position:absolute;
    left:8%;
    top:25%;
}

.forgetpasswordimage{
    height:260px;
    width:260px;
    position:absolute;
    left:43%;
    top:61%;
}

/* Forms */
.Login-form {
    position:absolute;
    text-align: center;
    left:40%;
    top:28%;
    width:29%;
}

.Signup-form {
    position:absolute;
    text-align: center;
    left:42%;
    top:26%;
    width:29%;
}

.Forgetpassword-form {
    position:absolute;
    text-align: center;
    left:34%;
    top:20%;
    width:38%;
}

.login-form {
    margin-top:20%;
}
.signup-form {
    margin-top:10%;
}
.forgetpassword-form {
    margin-top:8%;
}

/* input fields */
input[type=text] {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    font-size: 16px;
    background-color: white;
    background-image: url('../Images/Account.png');
    background-position: 3.5%; 
    background-repeat: no-repeat;
    padding: 3.5% 10%;
  }

  input[type=email] {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    font-size: 16px;
    background-color: white;
    background-image: url('../Images/mail.png');
    background-position: 3.5%; 
    background-repeat: no-repeat;
    padding: 3.5% 10%;
  }

  input[type=password] {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    font-size: 16px;
    background-color: white;
    background-image: url('../Images/Lock.png');
    background-position: 3.5%; 
    background-repeat: no-repeat;
    padding: 3.5% 10%;
  }

  /* BUTTONS */
.authbutton {
    width:100%;
    background: #3858FF;
    color:white;
    border: none;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    padding: 4% 10%;
} 

.forminput{
    margin-top: 5%;
    align-items: center;
 }

 /* ERROR Messages */
.forminput p{
    color:red;
}

.space{
    margin-bottom: 4%;
}

.error{
    text-align: left;
}





/* responsive */
@media only screen and (max-width: 411px) {
    body {
       background-image: none;
    }
  }

  @media only screen and (max-width: 786px){
    .signimage {
        display:none;
    }
    p{
        font-size: 10px;
    }
  } 


  @media only screen and (max-width: 1234px) {
    h1 {
          font-size: 36px;
    }
}