.learnwith{
    font-family: Inter; font-size: 69px; font-style: normal; 
    font-variant: normal; font-weight: 800; line-height: 76.24px;
    color: #3F3D56;
    text-shadow:4px 4px #00000040;
}

.stuista{
    font-family: Ubuntu; font-size: 63px; font-style: normal; 
    font-variant: normal; font-weight: 800; line-height: 76.24px;
    color:#3887EE;
    text-shadow:4px 4px rgba(56, 135, 238, 0.25);
    text-align: center;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
}

.Content{
 margin-top:18%;
 margin-left:54%;
 margin-bottom:10%;
}

.para{
    font-family: Inter; text-align: center;font-weight: bold; padding-top:1.5%;
}

.Homepage{
    background-color: white;
}

.homeimage{
  height:400px;
  width:400px;
  position:absolute;
  left:8%;
  top:25%;
}

/* Coursebar */
.Coursebar{
    display: flex;
    flex-direction: row;
    background-color: #474481;
    width: 100%;
}

 .course-list{
   margin:1.2%;
 }

 .course-list-ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: center;
    font-family: Inter;
  }
  .course-list-li {
    padding: 4.5px 15px;
    color: #FFFFFF;
    text-decoration: none;
  }
  .course-list-li:hover {
    font-weight: bolder;
    color: white;
  }

  /* Caraousel */
  .CourseCarousel{
    background-color: white;
  }

  .coursecard{
    border: solid;
    border-color:#FFFFFF;
    box-shadow: 0px 6.599999904632568px 15px 0px #00000040;
    margin-top: 10%;
    margin-bottom:10%;
    padding:10%;
  }

  /* ProgramsOverview */
  .ProgramsOverview{
    background-color: #F3F9FF;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .programs{
    width:100%;
    text-align: center;
    padding:2% 0%;
  }

  .programOverviewimage{
    height: 40%;
    width: 40%;
  }

  .Programfeatures{
    width:40%;
    margin:5%;
  }
   
 .title{
   width:50%;
 }

 .paracontent{
  width:50%;
}


  /* Instructor */
.instructorimage{
    height:50%;
    width:50%;
    position:relative;
    left:50%;
}

.Instructorsection{
  background-color: white;
}

.Instructorsection{
  margin:5% 0%;
  background-color:#FFF7FD;
}



/* Success Stories */
.SuccessStories{
    display: flex;
    flex-direction: row;
    background-color:white;
    width: 100%;
}

 .success-list{
   margin:1.2%;
 }

 .success-list-ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: center;
    font-family: Inter;
  }
  .success-list-li {
    padding: 5px 60px;
    color: black;
    text-decoration: none;
  }

  h5,h6,p{
      text-align: center;
  }

  p{
      font-size: 90%;
  }

  h5{
      font-weight: bolder;
  }

  h6{
      letter-spacing: 10%;
      padding:6%;
  }
  